.converter {
  padding: 80px 0;
  background-color: var(--bg-accent);
}

.converter-box {
  padding: var(--box-default-padding);
  background-color: var(--bg);
  border-radius: var(--default-border-rad);
}

.converter-box__title {
  margin-bottom: 50px;
}

.converter-form {
  display: flex;
  align-items: center;
  gap: 48px;
}

.converter-form__field {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 16px;
  row-gap: 24px;
}

.converter-form__text {
  font-size: 20px;
  color: var(--text-color);
  font-weight: 500;
  margin-bottom: 24px;
}

.input {
  padding: 16px 18px;
  text-align: center;
  font-size: 20px;
  border: var(--default-input-border);
  border-radius: var(--default-border-rad);
  color: var(--text-color);
}

.date-input {
  text-align: left;
}

.input:focus {
  color: var(--title-color);
  outline: 1px solid var(--accent);
}

.btn[type="submit"] {
}

.change-btn {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.conversion-history {
  background-color: var(--bg);
}

.ch-box {
  background-color: var(--bg-accent);
}

.ch-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.ch-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 48px;
  row-gap: 16px;
  list-style: none;
  padding: 0;
}

.ch-item {
  display: flex;
  align-items: center;
  gap: 16px;
  background-color: var(--bg);
  padding: 10px 16px;
  border-radius: var(--default-border-rad);
}

.ch-text {
  font-size: 18px;
}

.ch-item__date {
  color: var(--border-color);
}

.ch-item__from,
.ch-item__to {
  font-weight: 600;
}
