@import "./_root.css";
@import "./fonts.css";

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--bg);
}

a,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-color);
}

h1 {
  font-size: 54px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 20px;
}

p {
  color: var(--text-color);
  font-size: 20px;
  line-height: 1.4em;
}

.navigation-wrapper {
  max-width: var(--header-content-width);
  margin: 0 auto;
  padding: var(--content-wrapper-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-wrapper {
  max-width: var(--content-width);
  padding: var(--content-wrapper-padding);
  margin: 0 auto;
}

.nav-link:hover,
.nav__login-link:hover,
.nav-list__item a:hover {
  color: var(--accent);
}

.nav-link:active,
.nav__login-link:active,
.nav-list__item a:active {
  color: var(--accent-hover);
}

.btn {
  padding: var(--btn-default-padding);
  display: inline-block;
  font-size: 18px;
  border-radius: var(--default-border-rad);
  font-weight: 500;
  transition: background-color 0.2s ease-in-out;
  border: none;
  cursor: pointer;
}

.default-btn {
  background-color: var(--accent);
  color: var(--bg);
}

.default-btn:hover {
  background-color: var(--accent-hover);
}
